.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-view {
  justify-content: center;
  width: 70%;
}
.pagination-container {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin-bottom: 16px;
}
.ant-avatar {
  width: 62px;
  height: 62px;
}
