.updateForm-container {
  display: flex;
  align-items: center;
}
.updateForm {
  width: 80%;
}
.ant-btn-default {
  background-color: #1677ff;
  color: white;
}
// .EditForm {
//   pointer-events: none;
// }
